html,
body,
#root,
#root>div {
  height: 100%;
}

.material-icons {
  position: relative;
  top: 4px;
}

/*** Message Pane ***/

.chat-pane {
  /* will enable it to scroll content */
  flex: 1 1 auto;
  height: 0;
  overflow: auto;
}

.message {
  margin-bottom: 1rem;
}

.message img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: .5em;
}

.message-body p {
  margin: 0;
}

/* name */
.message-body p:nth-child(1) {
  font-weight: bold;
}

/* like-buttonn */
.like-button {
  padding: 0;
}
.like-button .material-icons {
  position:relative;
  top:0px;
}


/*** ComposeForm ***/
textarea {
    resize:none
}