* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.intro-text {
  display: none;
}

/* the image section itself */
.images {
  margin: 1em 0;
  /* best practice for centering content */
  display:flex;
  justify-content: center;
}

/* the text citation */
.images p {

}

.selected-border {
  display:flex;
  border-radius: 10px;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* card in the private pool */
.card {
  border: 1px solid black;
  border-radius: 10px;
}

.card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

/* if (width >= 768px)   */
/* how should we change to be on desktop? */

/* breakpoints: 576px, 768, 992, 1200, 1400?  */
/* mobiles: < 768 */
/* desktops: >768 */

@media (min-width: 768px) {

  body {
    background-color: lightblue;
  }

  .intro-text {
    display:block;
  }

  .card {
    background-color: white;
  }

  .card img {
    width: 600px;
  }

  .selected-border {
    margin: 1em;
    border: 5px solid rgba(0, 0, 0, 0);
    /* color: #ffffffff;
    color: rgb(255, 255, 255); */
    color: hsl()
  }

  .selected-border:hover {
    border: 5px solid red;
  }

}

@media (min-width: 992px) {
  body {
    background-color: goldenrod;
  }

  .column {
    flex-direction: row;
    justify-content: center;
  }

  .card img {
    width: 450px;
  }
}
